{% extends 'base.html' %}
{% block body %}
    <h2>Recipes list</h2>
    {% for recipe in recipes %}
        <strong><a href="{% url 'recipe_view' recipe.id %}">{{ recipe.name }}</a></strong><br>
        Adding date: {{ recipe.add_date }}<br>
        Author: {{ recipe.author }}<br>
        <hr>
    {% endfor %}
    {% if not user.is_authenticated %}
        <h3>To show recipe details and add new recipe - please, log in.</h3>
    {%  else %}
        <h3>Add new recipe</h3>
        <form action="" method="post">
            {% csrf_token %}
            Recipe name: {{ form.name }}<br>
            Description: {{ form.description }}<br>
            <input type="hidden" name="author" value="{{ user.id }}">
            <input type="submit" value="Add">
        </form>
    {% endif %}
{% endblock %}
